@font-face {
    font-family: 'Karla', sans-serif;
    src: url('../fonts/Karla-VariableFont_wght.ttf');
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Karla', sans-serif; */
    padding: 3rem;
}

/* table {
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}



   */
/* 
table {
	border-collapse: collapse;
    font-family: 'Karla', sans-serif;
}

table tr th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
    height: 50px;
    padding: 15px;

}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

table tbody tr td {
    padding: 15px;
} */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #4b5660;
  }
  
  div#directions {
    font-size: 35px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  table {
    max-width: 75%;
    margin-top: 15px;
    /* margin: 10px auto; */
  }

  tr th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;
  }
  
tr {
    background: white;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}
  
tr:nth-child(even) {
    background: white;
}
  
th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
}

li {
    list-style-type: circle;
}

a {
    color: #4b5660;
}

input#coursename {
    margin-bottom: 1rem;
    width: 50%;
    height: 35px;
    border: 2px solid #4b5660;
}

input#searchbutton {
    color: #4b5660; 
    background-color: white;
    width: 75px; 
    height: 35px;
    border: 2px solid #4b5660;
}

/* .table-of-contents {
    padding-bottom: 2rem;
} */

#dept-avg, #dept-count, #popularity { 
    width: 33%; 
    float: left;
    max-width: 25%;
}

#overall-avg, #pop-courses, #unpop-courses {
    font-weight: bold;
}

#popularity {
    max-width: 30%;
    margin-left: 100px;
}