<!-- setup HTML doc -->
<!DOCTYPE html>
<html>
<head>
    <title>Course Recommendations</title>
    <link rel="stylesheet" href="../static/css/styles.css"> 
</head>
<body>
    <div id="directions">Give me course recommendations for:</div>
    <form action="search" method="get">
        <!-- <label for="Name">Course Name:</label> -->
        <input id="coursename" type="text" name="coursename_input" value="{{coursename_input}}">
        <input id="searchbutton" type="submit" value="Search">
    </form>

    {% include 'table.html' %}

</body>
</html>