<hr>
<br>
<table>
    <tr>
    {% for col_name in col_names: %}
       <th>{{col_name}}</th>
    {% endfor %}
    </tr>

    {% for course in all_results %}
        <tr>
            <td style="width: 20%; word-wrap: break-word;">
                {% for id in course[0] %}
                    <a href="recommendations?courseid={{id}}">{{id}}
                        {% if not loop.last %}
                            /
                        {% endif %}
                    </a>
                {% endfor %}
            </td>
            <td style="width: 30%; word-wrap: break-word;">{{course[1]}}</td>
            <td>{{course[2]}}</td>
        </tr>
    {% endfor %}

</table>